# Web Scrapping Data Pipeline (Football Data from Whoscored)

In [2]:
import json
import time

import numpy as np
import pandas as pd

from bs4 import BeautifulSoup
from typing import List, Optional

# Use selenium package to open a chrome driver. I did this before (For UI Path) I believe.
from selenium import webdriver

from supabase import create_client, Client

## Web Scrapping from WhoScored.com

In [133]:
# Set up the driver 
driver = webdriver.Chrome()

In [131]:
whoscored_url = 'https://www.whoscored.com/Matches/1743533/Live/Germany-Bundesliga-2023-2024-VfB-Stuttgart-Borussia-Dortmund'

In [132]:
# This is working just fine
driver.get(whoscored_url)

WebDriverException: Message: disconnected: not connected to DevTools
  (failed to check if window was closed: disconnected: not connected to DevTools)
  (Session info: chrome=119.0.6045.159)
Stacktrace:
0   chromedriver                        0x000000010464a004 chromedriver + 4169732
1   chromedriver                        0x0000000104641ff8 chromedriver + 4136952
2   chromedriver                        0x0000000104297500 chromedriver + 292096
3   chromedriver                        0x000000010427f094 chromedriver + 192660
4   chromedriver                        0x000000010427ef9c chromedriver + 192412
5   chromedriver                        0x0000000104316fc8 chromedriver + 815048
6   chromedriver                        0x00000001042d05e8 chromedriver + 525800
7   chromedriver                        0x00000001042d14b8 chromedriver + 529592
8   chromedriver                        0x0000000104610334 chromedriver + 3932980
9   chromedriver                        0x0000000104614970 chromedriver + 3950960
10  chromedriver                        0x00000001045f8774 chromedriver + 3835764
11  chromedriver                        0x0000000104615478 chromedriver + 3953784
12  chromedriver                        0x00000001045eaab4 chromedriver + 3779252
13  chromedriver                        0x0000000104631914 chromedriver + 4069652
14  chromedriver                        0x0000000104631a90 chromedriver + 4070032
15  chromedriver                        0x0000000104641c70 chromedriver + 4136048
16  libsystem_pthread.dylib             0x00000001914ae06c _pthread_start + 148
17  libsystem_pthread.dylib             0x00000001914a8e2c thread_start + 8

In [7]:
soup = BeautifulSoup(driver.page_source, 'html.parser')

In [121]:
element = soup.select_one('script:-soup-contains("matchCentreData")')

In [128]:
matchdict = json.loads(element.text.split("matchCentreData: ")[1].split(',\n')[0])

## Data Cleaning

In [21]:
matchdict['events'][50]

{'id': 2616201805.0,
 'eventId': 37,
 'minute': 2,
 'second': 50,
 'teamId': 44,
 'playerId': 141556,
 'x': 32.2,
 'y': 74.2,
 'expandedMinute': 2,
 'period': {'value': 1, 'displayName': 'FirstHalf'},
 'type': {'value': 1, 'displayName': 'Pass'},
 'outcomeType': {'value': 1, 'displayName': 'Successful'},
 'qualifiers': [{'type': {'value': 1, 'displayName': 'Longball'}},
  {'type': {'value': 212, 'displayName': 'Length'}, 'value': '32.2'},
  {'type': {'value': 140, 'displayName': 'PassEndX'}, 'value': '35.0'},
  {'type': {'value': 178, 'displayName': 'StandingSave'}},
  {'type': {'value': 213, 'displayName': 'Angle'}, 'value': '4.80'},
  {'type': {'value': 141, 'displayName': 'PassEndY'}, 'value': '27.1'},
  {'type': {'value': 56, 'displayName': 'Zone'}, 'value': 'Back'}],
 'satisfiedEventsTypes': [91, 117, 127, 36, 38, 216, 218],
 'isTouch': True,
 'endX': 35.0,
 'endY': 27.1}

In [22]:
# include only what is under events
match_events = matchdict['events']

In [69]:
df = pd.DataFrame(match_events)

In [70]:
df.head()

,id,eventId,minute,second,teamId,x,y,expandedMinute,period,type,...,endY,blockedX,blockedY,goalMouthZ,goalMouthY,isShot,relatedEventId,relatedPlayerId,cardType,isGoal
0,2.616199e+09,2,0,0.0,41,0.0,0.0,0,"{'value': 1, 'displayName': 'FirstHalf'}","{'value': 32, 'displayName': 'Start'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.616199e+09,2,0,0.0,44,0.0,0.0,0,"{'value': 1, 'displayName': 'FirstHalf'}","{'value': 32, 'displayName': 'Start'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.616199e+09,3,0,0.0,44,50.1,50.0,0,"{'value': 1, 'displayName': 'FirstHalf'}","{'value': 1, 'displayName': 'Pass'}",...,52.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2.616199e+09,4,0,3.0,44,29.5,55.5,0,"{'value': 1, 'displayName': 'FirstHalf'}","{'value': 1, 'displayName': 'Pass'}",...,30.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2.616199e+09,5,0,7.0,44,39.4,30.9,0,"{'value': 1, 'displayName': 'FirstHalf'}","{'value': 1, 'displayName': 'Pass'}",...,6.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
# drop all rows that do not include a Player Id
df.dropna(subset='playerId', inplace=True)

In [72]:
# replace all NaN values to None
df = df.where(pd.notnull(df), None)

In [73]:
df.head()

,id,eventId,minute,second,teamId,x,y,expandedMinute,period,type,...,endY,blockedX,blockedY,goalMouthZ,goalMouthY,isShot,relatedEventId,relatedPlayerId,cardType,isGoal
2,2.616199e+09,3,0,0.0,44,50.1,50.0,0,"{'value': 1, 'displayName': 'FirstHalf'}","{'value': 1, 'displayName': 'Pass'}",...,52.5,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None
3,2.616199e+09,4,0,3.0,44,29.5,55.5,0,"{'value': 1, 'displayName': 'FirstHalf'}","{'value': 1, 'displayName': 'Pass'}",...,30.4,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None
4,2.616199e+09,5,0,7.0,44,39.4,30.9,0,"{'value': 1, 'displayName': 'FirstHalf'}","{'value': 1, 'displayName': 'Pass'}",...,6.5,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None
5,2.616199e+09,6,0,9.0,44,41.4,9.5,0,"{'value': 1, 'displayName': 'FirstHalf'}","{'value': 1, 'displayName': 'Pass'}",...,32.4,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None
6,2.616199e+09,7,0,13.0,44,21.1,39.1,0,"{'value': 1, 'displayName': 'FirstHalf'}","{'value': 1, 'displayName': 'Pass'}",...,84.8,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None

In [74]:
df.columns

Index(['id', 'eventId', 'minute', 'second', 'teamId', 'x', 'y',
       'expandedMinute', 'period', 'type', 'outcomeType', 'qualifiers',
       'satisfiedEventsTypes', 'isTouch', 'playerId', 'endX', 'endY',
       'blockedX', 'blockedY', 'goalMouthZ', 'goalMouthY', 'isShot',
       'relatedEventId', 'relatedPlayerId', 'cardType', 'isGoal'],
      dtype='object')

In [75]:
# rename columns

df = df.rename(
    {
        'eventId': 'event_id',
        'expandedMinute': 'expanded_minute',
        'outcomeType': 'outcome_type',
        'isTouch': 'is_touch',
        'playerId': 'player_id',
        'teamId': 'team_id',
        'endX': 'end_x',
        'endY': 'end_y',
        'blockedX': 'blocked_x',
        'blockedY': 'blocked_y',
        'goalMouthZ': 'goal_mouth_z',
        'goalMouthY': 'goal_mouth_y',
        'isShot': 'is_shot',
        'cardType': 'card_type',
        'isGoal': 'is_goal'
    },
    axis=1
)

In [76]:
df.head()

,id,event_id,minute,second,team_id,x,y,expanded_minute,period,type,...,end_y,blocked_x,blocked_y,goal_mouth_z,goal_mouth_y,is_shot,relatedEventId,relatedPlayerId,card_type,is_goal
2,2.616199e+09,3,0,0.0,44,50.1,50.0,0,"{'value': 1, 'displayName': 'FirstHalf'}","{'value': 1, 'displayName': 'Pass'}",...,52.5,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None
3,2.616199e+09,4,0,3.0,44,29.5,55.5,0,"{'value': 1, 'displayName': 'FirstHalf'}","{'value': 1, 'displayName': 'Pass'}",...,30.4,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None
4,2.616199e+09,5,0,7.0,44,39.4,30.9,0,"{'value': 1, 'displayName': 'FirstHalf'}","{'value': 1, 'displayName': 'Pass'}",...,6.5,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None
5,2.616199e+09,6,0,9.0,44,41.4,9.5,0,"{'value': 1, 'displayName': 'FirstHalf'}","{'value': 1, 'displayName': 'Pass'}",...,32.4,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None
6,2.616199e+09,7,0,13.0,44,21.1,39.1,0,"{'value': 1, 'displayName': 'FirstHalf'}","{'value': 1, 'displayName': 'Pass'}",...,84.8,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None

In [77]:
# create new columns out of dictionaries within the dataset (period, type, etc)
df['period_display_name'] = df['period'].apply(lambda x: x['displayName'])  #the displayname variable is a key within the dictionary within the dataset (json)
df['type_display_name'] = df['type'].apply(lambda x: x['displayName'])
df['outcome_type_display_name'] = df['outcome_type'].apply(lambda x: x['displayName'])

# drop the initial dictionary columns since we don't need them anymore
df.drop(columns = ['period', 'type', 'outcome_type'], inplace=True)

In [78]:
# define and keep only desired columns
df = df[[ 
    'id', 'event_id', 'minute', 'second', 'team_id', 'player_id', 'x','y', 'end_x', 'end_y', 
    'qualifiers', 'is_touch', 'blocked_x', 'blocked_y', 'goal_mouth_z', 'goal_mouth_y', 'is_shot', 
    'card_type', 'is_goal', 'type_display_name', 'outcome_type_display_name',
    'period_display_name'
]]

In [53]:
df.dtypes

id                           float64
event_id                       int64
minute                         int64
second                       float64
team_id                        int64
player_id                    float64
x                            float64
y                            float64
end_x                        float64
end_y                        float64
qualifiers                    object
is_touch                        bool
blocked_x                    float64
goal_mouth_z                 float64
goal_mouth_y                 float64
is_shot                       object
card_type                     object
is_goal                       object
type_display_name             object
outcome_type_display_name     object
period_display_name           object
dtype: object

In [79]:
# define the types of each variable
df[['id', 'event_id', 'minute', 'team_id', 'player_id']] = df[['id', 'event_id', 'minute', 'team_id', 'player_id']].astype(int) 
df[['second', 'x', 'y', 'end_x', 'end_y']] = df[['second', 'x', 'y', 'end_x', 'end_y']].astype(float)
df[['is_shot', 'is_goal', 'card_type']] =df[['is_shot', 'is_goal', 'card_type']].astype(bool)

In [80]:
df['is_goal'] = df['is_goal'].fillna(False)
df['is_shot'] = df['is_shot'].fillna(False)

In [81]:
# loop for ensuring accuracy of the columns
# pandas as numpy treat the NaN differently, this will help to assign as None all of those values that previously didn't change from NaN to None

for column in df.columns:
    if df[column].dtype == np.float64 or df[column].dtype == np.float32:
        df[column] = np.where(
            np.isnan(df[column]),
            None,
            df[column]
        )

In [82]:
df.head()

,id,event_id,minute,second,team_id,player_id,x,y,end_x,end_y,...,blocked_x,blocked_y,goal_mouth_z,goal_mouth_y,is_shot,card_type,is_goal,type_display_name,outcome_type_display_name,period_display_name
2,2616198641,3,0,0.0,44,92051,50.1,50.0,28.6,52.5,...,None,None,None,None,False,False,False,Pass,Successful,FirstHalf
3,2616198659,4,0,3.0,44,371275,29.5,55.5,34.1,30.4,...,None,None,None,None,False,False,False,Pass,Successful,FirstHalf
4,2616198741,5,0,7.0,44,21541,39.4,30.9,44.6,6.5,...,None,None,None,None,False,False,False,Pass,Successful,FirstHalf
5,2616198803,6,0,9.0,44,129983,41.4,9.5,19.0,32.4,...,None,None,None,None,False,False,False,Pass,Successful,FirstHalf
6,2616198853,7,0,13.0,44,336028,21.1,39.1,26.0,84.8,...,None,None,None,None,False,False,False,Pass,Successful,FirstHalf

In [83]:
df.iloc[1].to_dict()

{'id': 2616198659,
 'event_id': 4,
 'minute': 0,
 'second': 3.0,
 'team_id': 44,
 'player_id': 371275,
 'x': 29.5,
 'y': 55.5,
 'end_x': 34.1,
 'end_y': 30.4,
 'qualifiers': [{'type': {'value': 213, 'displayName': 'Angle'},
   'value': '4.99'},
  {'type': {'value': 178, 'displayName': 'StandingSave'}},
  {'type': {'value': 212, 'displayName': 'Length'}, 'value': '17.7'},
  {'type': {'value': 56, 'displayName': 'Zone'}, 'value': 'Back'},
  {'type': {'value': 140, 'displayName': 'PassEndX'}, 'value': '34.1'},
  {'type': {'value': 141, 'displayName': 'PassEndY'}, 'value': '30.4'}],
 'is_touch': True,
 'blocked_x': None,
 'blocked_y': None,
 'goal_mouth_z': None,
 'goal_mouth_y': None,
 'is_shot': False,
 'card_type': False,
 'is_goal': False,
 'type_display_name': 'Pass',
 'outcome_type_display_name': 'Successful',
 'period_display_name': 'FirstHalf'}

In [84]:
# Using Pydantic package for data validation and data type validation for later inserting into a database

from pydantic import BaseModel, Field

class MatchEvent(BaseModel):
    id: int
    event_id: int
    minute: int
    second: Optional[float] = None
    team_id: int
    player_id: int
    x: float 
    y: float
    end_x: Optional[float] =  None # if x as float doesn't exist, then it gets equal to None
    end_y: Optional[float] = None 
    qualifiers: List[dict]
    is_touch: bool
    blocked_x: Optional[float] = None
    blocked_y: Optional[float] = None
    goal_mouth_z: Optional[float] = None
    goal_mouth_y: Optional[float] = None
    is_shot: bool
    card_type: bool
    is_goal: bool
    type_display_name: str
    outcome_type_display_name: str
    period_display_name: str

In [85]:
for x in df.to_dict(orient='records'):
    try:
        MatchEvent(**x).dict()
    except Exception as e:
        print(e)
        break

/var/folders/7x/mwsg2nfd0gsf5h73ty0mnrb80000gn/T/ipykernel_84798/1293636778.py:3: PydanticDeprecatedSince20: The `dict` method is deprecated; use `model_dump` instead. Deprecated in Pydantic V2.0 to be removed in V3.0. See Pydantic V2 Migration Guide at https://errors.pydantic.dev/2.4/migration/
  MatchEvent(**x).dict()

In [86]:
x

{'id': 2616404727,
 'event_id': 1007,
 'minute': 95,
 'second': 1.0,
 'team_id': 41,
 'player_id': 260770,
 'x': 15.4,
 'y': 27.7,
 'end_x': 65.2,
 'end_y': 46.7,
 'qualifiers': [{'type': {'value': 141, 'displayName': 'PassEndY'},
   'value': '46.7'},
  {'type': {'value': 213, 'displayName': 'Angle'}, 'value': '0.24'},
  {'type': {'value': 56, 'displayName': 'Zone'}, 'value': 'Center'},
  {'type': {'value': 1, 'displayName': 'Longball'}},
  {'type': {'value': 140, 'displayName': 'PassEndX'}, 'value': '65.2'},
  {'type': {'value': 212, 'displayName': 'Length'}, 'value': '53.9'}],
 'is_touch': True,
 'blocked_x': None,
 'blocked_y': None,
 'goal_mouth_z': None,
 'goal_mouth_y': None,
 'is_shot': False,
 'card_type': False,
 'is_goal': False,
 'type_display_name': 'Pass',
 'outcome_type_display_name': 'Unsuccessful',
 'period_display_name': 'SecondHalf'}

In [95]:
''' WE NEED TO MAKE SURE THERE IS NO DUPLICATES ON 'iD' VARIABLE SINCE IT IS THE PRIMARY KEY FOR THE DATABASE. IT WILL THROW AN ERROR IF DUPLICATES'''
# checking for duplicates
duplicate_ids = df[df.duplicated('id', keep=False)]


if not duplicate_ids.empty:
    # Display or print duplicate rows with conflicting IDs
    print("Duplicate IDs found:")
    print(duplicate_ids)

    # Remove duplicates based on 'id' column
    df.drop_duplicates(subset='id', keep='last', inplace=True) # always second (last) since the first event is likely unvalid (after offside call for example)
    print("Duplicates removed.")

Duplicate IDs found:
              id  event_id  minute second  team_id  player_id     x     y  \
997   2616350513     11636      55   None       41     379252  71.0  47.0
1200  2616350513       585      66   37.0       44     326403  69.1  86.3

     end_x end_y  ... blocked_x  blocked_y goal_mouth_z goal_mouth_y is_shot  \
997   None  None  ...      None       None         None         None   False
1200  None  None  ...      None       None         None         None   False

     card_type  is_goal  type_display_name  outcome_type_display_name  \
997      False    False       OffsideGiven               Unsuccessful
1200     False    False               Foul               Unsuccessful

     period_display_name
997           SecondHalf
1200          SecondHalf

[2 rows x 22 columns]
Duplicates removed.

## Supabase Pipeline & Transfer

In [96]:
supabase_password = 'zV%.U7_f#s*5%zG'
project_url = 'https://eowaptmmsoadpydoyvxg.supabase.co'
api_key = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVvd2FwdG1tc29hZHB5ZG95dnhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDAzNDM1MDYsImV4cCI6MjAxNTkxOTUwNn0.3HnLirmjXkkxaNSq48dwvcdGRGDOmDfEIBELkDltwvo'

In [97]:
# CREATE A SUPABASE CLIENT TO INSERT DATA INTO THE DATABASE

def insert_match_events(df, supabase):
    events = [
        MatchEvent (**x).dict()
        for x in df.to_dict(orient='records')
    ]
    
    executing = supabase.table('match_event').upsert(events).execute()

In [98]:
supabase = create_client(project_url, api_key)

insert_match_events(df, supabase)

/var/folders/7x/mwsg2nfd0gsf5h73ty0mnrb80000gn/T/ipykernel_84798/695047614.py:5: PydanticDeprecatedSince20: The `dict` method is deprecated; use `model_dump` instead. Deprecated in Pydantic V2.0 to be removed in V3.0. See Pydantic V2 Migration Guide at https://errors.pydantic.dev/2.4/migration/
  MatchEvent (**x).dict()
2023-11-18 17:00:22,754:INFO - HTTP Request: POST https://eowaptmmsoadpydoyvxg.supabase.co/rest/v1/match_event "HTTP/1.1 201 Created"

### Create separate table for player_id within the Supabase Database

In [100]:
team_info = []

# 

team_info.append({
    'team_id': matchdict['home']['teamId'],
    'name': matchdict['home']['name'],
    'country_name': matchdict['home']['countryName'],
    'manager_name': matchdict['home']['managerName'],
    'players': matchdict['home']['players'],
})

team_info.append({
    'team_id': matchdict['away']['teamId'],
    'name': matchdict['away']['name'],
    'country_name': matchdict['away']['countryName'],
    'manager_name': matchdict['away']['managerName'],
    'players': matchdict['away']['players'],
})

In [102]:
# creating the class again for SQL Postgre querying

class Player(BaseModel):
    player_id: int
    shirt_no: int
    name: str
    age: int
    position: str
    team_id: int

In [109]:
def insert_players(team_info, supabase):
    players = []
    
    for team in team_info:
        for player in team['players']:
            players.append({
                'player_id': player['playerId'],
                'team_id': team['team_id'],
                'shirt_no': player['shirtNo'],
                'name': player['name'],
                'position': player['position'],
                'age': player['age']
                
            })
            
    execution = supabase.table('player').upsert(players).execute()

In [110]:
insert_players(team_info, supabase)

2023-11-18 18:21:35,839:INFO - HTTP Request: POST https://eowaptmmsoadpydoyvxg.supabase.co/rest/v1/player "HTTP/1.1 201 Created"

## Importing Database data into Jupyter environment

In [111]:
import psycopg2

# Link: https://supabase.com/dashboard/project/eowaptmmsoadpydoyvxg/settings/database

conn = psycopg2.connect(
    user = "postgres",
    password = supabase_password,
    host = "db.eowaptmmsoadpydoyvxg.supabase.co",
    port = 5432,
    database = "postgres"
    
)

In [115]:
cursor = conn.cursor()

cursor.execute("""
    SELECT * FROM player;
""")

In [116]:
records = cursor.fetchall()
records

[(260770, 33, 'Alexander Nübel', 27, 'GK', 41),
 (296768, 2, 'Waldemar Anton', 27, 'DR', 41),
 (342548, 23, 'Dan-Axel Zagadou', 24, 'DC', 41),
 (422717, 21, 'Hiroki Ito', 24, 'DC', 41),
 (261020, 7, 'Maximilian Mittelstädt', 26, 'DL', 41),
 (407476, 6, 'Angelo Stiller', 22, 'DMC', 41),
 (347884, 16, 'Atakan Karazor', 27, 'DMC', 41),
 (349888, 27, 'Chris Führich', 25, 'AMC', 41),
 (379252, 18, 'Jamie Leweling', 22, 'AMC', 41),
 (398374, 8, 'Enzo Millot', 21, 'FW', 41),
 (357091, 26, 'Deniz Undav', 27, 'FW', 41),
 (354241, 4, 'Josha Vagnoman', 22, 'Sub', 41),
 (236506, 9, 'Serhou Guirassy', 27, 'Sub', 41),
 (401742, 20, 'Leonidas Stergiou', 21, 'Sub', 41),
 (366868, 10, 'Jeong Woo-Yeong', 24, 'Sub', 41),
 (374989, 14, 'Silas Katompa Mvumpa', 25, 'Sub', 41),
 (416149, 29, 'Anthony Rouault', 22, 'Sub', 41),
 (141231, 15, 'Pascal Stenzel', 27, 'Sub', 41),
 (142529, 1, 'Fabian Bredlow', 28, 'Sub', 41),
 (238698, 17, 'Genki Haraguchi', 32, 'Sub', 41),
 (336028, 1, 'Gregor Kobel', 25, 'GK', 44),
 (129983, 25, 'Niklas Süle', 28, 'DR', 44),
 (21541, 15, 'Mats Hummels', 34, 'DC', 44),
 (371275, 4, 'Nico Schlotterbeck', 23, 'DC', 44),
 (320436, 26, 'Julian Ryerson', 26, 'DL', 44),
 (92051, 20, 'Marcel Sabitzer', 29, 'MC', 44),
 (326403, 6, 'Salih Özcan', 25, 'MC', 44),
 (367783, 8, 'Felix Nmecha', 23, 'MC', 44),
 (392646, 27, 'Karim Adeyemi', 21, 'FWR', 44),
 (104058, 14, 'Niclas Füllkrug', 30, 'FW', 44),
 (141556, 19, 'Julian Brandt', 27, 'FWL', 44),
 (288892, 5, 'Ramy Bensebaïni', 28, 'Sub', 44),
 (406701, 18, 'Youssoufa Moukoko', 18, 'Sub', 44),
 (41330, 11, 'Marco Reus', 34, 'Sub', 44),
 (351354, 21, 'Donyell Malen', 24, 'Sub', 44),
 (389087, 7, 'Giovanni Reyna', 21, 'Sub', 44),
 (312666, 17, 'Marius Wolf', 28, 'Sub', 44),
 (345363, 33, 'Alexander Meyer', 32, 'Sub', 44),
 (436425, 43, 'Jamie Bynoe-Gittens', 19, 'Sub', 44),
 (236544, 9, 'Sébastien Haller', 29, 'Sub', 44)]

In [117]:
df = pd.DataFrame(records, columns=[desc[0] for desc in cursor.description])

In [118]:
df

    player_id  shirt_no                    name  age position  team_id
0      260770        33         Alexander Nübel   27       GK       41
1      296768         2          Waldemar Anton   27       DR       41
2      342548        23        Dan-Axel Zagadou   24       DC       41
3      422717        21              Hiroki Ito   24       DC       41
4      261020         7  Maximilian Mittelstädt   26       DL       41
5      407476         6          Angelo Stiller   22      DMC       41
6      347884        16          Atakan Karazor   27      DMC       41
7      349888        27           Chris Führich   25      AMC       41
8      379252        18          Jamie Leweling   22      AMC       41
9      398374         8             Enzo Millot   21       FW       41
10     357091        26             Deniz Undav   27       FW       41
11     354241         4          Josha Vagnoman   22      Sub       41
12     236506         9         Serhou Guirassy   27      Sub       41
13     401742        20       Leonidas Stergiou   21      Sub       41
14     366868        10         Jeong Woo-Yeong   24      Sub       41
15     374989        14    Silas Katompa Mvumpa   25      Sub       41
16     416149        29         Anthony Rouault   22      Sub       41
17     141231        15          Pascal Stenzel   27      Sub       41
18     142529         1          Fabian Bredlow   28      Sub       41
19     238698        17         Genki Haraguchi   32      Sub       41
20     336028         1            Gregor Kobel   25       GK       44
21     129983        25             Niklas Süle   28       DR       44
22      21541        15            Mats Hummels   34       DC       44
23     371275         4      Nico Schlotterbeck   23       DC       44
24     320436        26          Julian Ryerson   26       DL       44
25      92051        20         Marcel Sabitzer   29       MC       44
26     326403         6             Salih Özcan   25       MC       44
27     367783         8            Felix Nmecha   23       MC       44
28     392646        27           Karim Adeyemi   21      FWR       44
29     104058        14         Niclas Füllkrug   30       FW       44
30     141556        19           Julian Brandt   27      FWL       44
31     288892         5         Ramy Bensebaïni   28      Sub       44
32     406701        18       Youssoufa Moukoko   18      Sub       44
33      41330        11              Marco Reus   34      Sub       44
34     351354        21           Donyell Malen   24      Sub       44
35     389087         7          Giovanni Reyna   21      Sub       44
36     312666        17             Marius Wolf   28      Sub       44
37     345363        33         Alexander Meyer   32      Sub       44
38     436425        43     Jamie Bynoe-Gittens   19      Sub       44
39     236544         9        Sébastien Haller   29      Sub       44